@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

.spot_white{ /* color of white spots set to tan */
    background-color: tan;
}

.spot_black{ /* color of black spots set to green */
    background-color: green;
}

.spot{ /* formating for each spot */
    display: inline-block;
    width: 100px;
    height: 90px;
    font-size: 80px;
    text-align: center;
    padding-top: 20px;
}

.side_white{ /* making white pieces appear white */
    color: white;
}

.side_black{ /* making black pieces appear black */
    color: black;
}

.no_side{ 
    font-size: 80px;
    /* not needed currently, but could be used later. font-size: 80px; is a decoy */
}

#heading{
    background: linear-gradient(0.15turn, #9198e5, #e66465);
    border-radius: 5px;
    width: fit-content;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;;
}

body{
    background: #515151;
}